 @import url('https://fonts.googleapis.com/css2?700&family=Tapestry&family=Zen+Loop:ital@0;1&display=swap');

 body {
     font-family: 'Zen Loop';
     background-color: rgb(227, 115, 131);
     /*top, right, bottom,left*/
 }

 h3 {
     text-align: center;
     color: black;
     border: 5px;
 }

 p {
     font-weight: bold;
 }

 header {
     font-weight: lighter;
     text-align: center;
     padding: 8px;
 }

 form {
     margin: 0 auto;
     font-weight: bolder;
     background: rgb(224, 191, 184);
     padding: 25px;
     border-radius: 12px;
     max-width: 550px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
 }

 label {
     margin-top: 10px;
     font-weight: bolder;
     display: flexbox;
 }

 legend {
     text-align: center;
 }

 fieldset {
     border-radius: 15px;
     border-color: rgb(224, 191, 184);
 }

 div {
     align-items: center;
 }